
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="login-box">
    <form action="" method="post">
        <h1>Login</h1>

        <div class="text-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" class="form-control" placeholder="Name" name="name" value="">
        </div>
        <div class="text-box">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="text" class="form-control" placeholder="Password" name="password" value="">
        </div>

        <input class="btn" type="button" name="" value="Sing in">
    </form>
</div>