
@{
    ViewData["Title"] = "Signup";
}

<link rel="stylesheet" href="~/css/login.css" />

<form action="" id="valForm" method="post">

    <h1>Formulario de Registro</h1>

    <div class="row">
        <div class="col">
            <label for="Lista_registro">Apellido Paterno</label>
            <input type="text" class="form-control" id="Lista_registro" placeholder="Apellido Paterno" name="txtpat" required>
        </div>
        <div class="col">
            <label for="Lista_registro">Apellido Materno</label>
            <input type="text" class="form-control" id="Lista_registro" placeholder="Apellido Materno" name="txtmat" required>
        </div>
    </div>
    <div class="form-group">
        <label for="Lista">Nombres</label>
        <input type="text" class="form-control" id="Lista_registro" placeholder="Nombres" name="txtnom" required>
    </div>
    <div class="row">
        <div class="col">
            <label for="Lista_registro">Edad</label>
            <input type="text" class="form-control" id="Lista_registro" placeholder="Edad" name="txtage" required />
        </div>
        <div class="col">
            <label for="Lista_registro">Celular</label>
            <input type="text" class="form-control" id="Lista_registro" placeholder="celular" name="txtcel" required />
        </div>
    </div>
    <div class="form-group">
        <label for="Lista_registro">e-mail</label>
        <input type="email" class="form-control" id="Lista_registro" placeholder="e-mail" name="email" required />
    </div>

    <button type="submit" class="btn btn-primary" value="btn" name="grabar" data-toggle="modal" data-target="#exampleModal">Grabar</button>

    <div class="form-group">
        <div class="text-muted" id="error"></div>
    </div>

</form>