@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <div class="log__presentacion letra">
        <h2 class="gradiente_rainbow">"La medicina es una ciencia de la incertidumbre y un arte de la probabilidad"</h2>
    </div>
</div>
<div class="nosotros">
    <h4>Nosotros</h4>
</div>
<div class="nosotros2">
    <div class="Demas">
        <img src="~/imagenes/habilitan consultas medicas online para viajeros.jpg" />
    </div>
    <div class="Demas">
        <p>Sumaj Kawsay es una plataforma virtual</p>
    </div>
</div>
